@import url('https://fonts.googleapis.com/css?family=Mukta');

#howTo, #title, #next, .desc, h1, h2, h3, h4, h5, p {
	font-family: 'Mukta', sans-serif;
	/* color: #fff; */
}

.dark, .light {
	float: right;
	margin-right: 10%;
}

body {
	/* background: #303030; */
}

h2 {
	font-size: 28px;
}

ul, li {
    list-style: none;
}

hr {
	width: 80%;
    border: 0;
    height: 1px;
    background: #337ab7;
    background-image: linear-gradient(to left, #ccc, #337ab7, #ccc);
}

.small {
    height: 20px;
    overflow:hidden;
}
.big {
    height: auto;
}

.underlineL {
	width: 110%;
}

.underlineR {
	width: 70%;

}

.text-control {
	width: 70%;
	margin-left:15%;

}

#playlist {
	display:none;
	height:400px;
	width:600px;
	overflow-y:scroll;
}

#next {
	font-size: 32px;
}

#howTo {
	text-align: center;
	padding-right:10%;
	font-size: 18px;
}

#remaining {
	display: inline-block;
}

div.text-container {
	margin-left: 15px;
    width: 80%;
}

.show-more {
    padding: 10px 0;
    text-align: right;
    margin-right: 10px;
}

.hideDesc {
    overflow: hidden;
    line-height: 1em;
    height: 6em;
}

.showDesc {
    line-height: 1em;
    height: auto;
}
.showDesc{
    height: auto;
}

.row1 {
	float:left;
	width: 60%;
}

.row2 {
	float:right;
	width:40%;
}
